.NavBarItems{
    backdrop-filter: blur(10px); 
    background-color: rgba(240, 248, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    padding-top: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.nav-logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
}

.logo-image{
    margin-top: -5px;
    width: 4rem;
    float: left;
    margin-right: 10px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i {
    padding-right: 10px;
}

.nav-links:hover{
    background-color: #475be8;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
    display: none;
}

.nav-links-btn {
    color: #222;
    text-decoration: none;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.nav-links-btn:hover {
    background-color: #151516;
    color: #fff;

}
.menu-icon {
    display: none;
}

@media screen and (max-width:720px) {
    .NavBarItems{
        z-index: 99;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        width: 100%;
        position: absolute;
        top:0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
        z-index: -1;
    }

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        text-align: center;
    }
    .nav-links:hover{
        background: #475be8;
        transition: none;
    }
    .nav-links-btn {
        display: none;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        background: #475be8;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .menu-icon i{
        font-size: 1.2rem;
        color: #222;
    }
    
}