.Icontainer {
    display: flex;
    column-gap: 20px;
}

.map-container {
    width: 900px;
    padding: 20px;
    box-sizing: border-box;
}

.form-container{
    width: 900px;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-container {
    width: 45%;
}

.form-container h2 {
    margin-bottom: 15px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container div {
    margin-bottom: 10px;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.map-container {
    width: 50%;
}

.map-container .google-map-container {
    height: 550px;
    width: 100%;
}

.map-container .google-map {
    height: 100%;
    width: 100%;
}